# NyumbaLink code owners
# GitHub automatically requests a review from these owners on pull
# requests that touch the files below.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @epro-tech-create @felix202422
